.home-container {
  width: 100%;
}
.home-landing {
  /* height: auto; */
  height: 100vh;
  background-image: url("/landing.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  background-position-x: center;
  background-position-y: bottom;
  background-color: #01001f99;
  background-blend-mode: multiply;
  /* background-blend-mode: overlay; */
}

.home-landing img {
  width: 100%;
}

.home-text {
  padding-left: 250px;
}

.home-headline {
  font-size: 48px;
  font-weight: 500;
  color: #efeeff;
}

.home-tagline {
  font-size: 24px;
  font-weight: 400;
  color: #efeeff;
  padding-top: 15px;
  margin-bottom: 60px;
}

.get-started-btn {
  font-size: 22px;
  font-weight: 500;
  color: #efeeff;
  background-color: #605bff;
  padding: 10px 80px;
  border: none;
  border-radius: 6px;
  margin-bottom: 120px;
}

.home-stats {
  display: flex;
  font-size: 32px;
  color: #efeeff;
  text-align: center;
  /* padding-bottom: 200px; */
}

.home-stats-1 {
  padding: 20px 80px 20px 0px;
  border-right: 2px solid #efeeff;
}

.home-stats-2 {
  padding: 20px 80px;
}

.home-stats-3 {
  padding: 20px 0px 20px 80px;
  border-left: 2px solid #efeeff;
}
